.storybook-sidebar {
  background-color: white;
  padding: 50px 40px;
  max-width: 240px;
  display: flex;
  flex-direction: column;
}

.storybook-sidebar .brand {
  margin-bottom: 42px;
}

.storybook-sidebar .menuItem {
  padding: 0px;
  margin: 0px;
}

.storybook-sidebar .menuItem li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.storybook-sidebar .menuItem li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 18px 0px;
  display: block;
  position: relative;
}

.storybook-sidebar .menuItem li a.active:before {
  content: "";
  background-color: #e7740b;
  width: 5px;
  height: 100%;
  position: absolute;
  left: -40px;
  top: 0px;
  border-radius: 5px;
}
