/* Move this elsewhere */
.appContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: #f0eff5;
  flex: 1;
}

.pageContainer{
    padding: 45px 35px;
    min-height: 80%;
}
